.devise-new {
  position: absolute;
  left: 44rem;
  top: 14rem;
  width: 23rem;
  height: 23rem;
}

.new-card-body {
  margin: 1rem auto;
}

.new-link {
  color: #0d6efd;
  text-decoration: underline;
}

.signin-links {
  margin: 0.7rem 0;
}

.reg-card {
  height: 29rem;
}